# Import & Upload

In [1]:
import pandas as pd 
import numpy as np

In [2]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
basic_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basic_url, sep = "\t", low_memory = False)
akas = pd.read_csv(akas_url, sep = "\t", low_memory = False)
ratings = pd.read_csv(ratings_url, sep = "\t", low_memory = False)

# Data Cleaning

In [4]:
basics.replace({'\\N':np.nan}, inplace = True)
akas.replace({'\\N':np.nan}, inplace = True)
ratings.replace({'\\N':np.nan}, inplace = True)

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9188391 entries, 0 to 9188390
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 630.9+ MB

In [6]:
basics.dropna(subset = ["runtimeMinutes", "genres"], inplace = True)
basics["titleType"].value_counts()

tvEpisode       1064241
short            574550
movie            367163
video            175133
tvMovie           88323
tvSeries          86592
tvSpecial         16470
tvMiniSeries      16082
tvShort            9380
videoGame           298
Name: titleType, dtype: int64

In [7]:
basics = basics[basics.titleType == "movie"]

In [8]:
basics["titleType"].value_counts()

movie    367163
Name: titleType, dtype: int64

In [9]:
basics = basics[(basics.startYear >= "2000") & (basics.startYear <= "2022")]

basics["startYear"].value_counts()

2017    14193
2018    14139
2016    13825
2019    13811
2015    13329
2014    12983
2013    12274
2021    11737
2012    11543
2020    11257
2011    10685
2010    10124
2009     9271
2008     8070
2022     7791
2007     6884
2006     6431
2005     5760
2004     5133
2003     4528
2002     4088
2001     3813
2000     3594
Name: startYear, dtype: int64

In [10]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [11]:
akas.info()
akas = akas[akas.region == "US"]
akas["region"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33026941 entries, 0 to 33026940
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

US    1345187
Name: region, dtype: int64

In [12]:
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34790       True
61090       True
67636       True
77930      False
86767       True
           ...
9188063     True
9188072     True
9188111    False
9188156     True
9188240    False
Name: tconst, Length: 142514, dtype: bool

In [13]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61090,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67636,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86767,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92732,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9187527,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9187923,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9188063,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9188072,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9188156,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [14]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [15]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [16]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

In [17]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [18]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82338 entries, 0 to 82337
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82338 non-null  object
 1   titleType       82338 non-null  object
 2   primaryTitle    82338 non-null  object
 3   originalTitle   82338 non-null  object
 4   isAdult         82338 non-null  int64
 5   startYear       82338 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82338 non-null  int64
 8   genres          82338 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.7+ MB

In [19]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345187 entries, 5 to 33026685
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1345187 non-null  object
 1   ordering         1345187 non-null  int64
 2   title            1345187 non-null  object
 3   region           1345187 non-null  object
 4   language         3694 non-null     object
 5   types            963721 non-null   object
 6   attributes       44828 non-null    object
 7   isOriginalTitle  1343812 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.4+ MB

In [20]:
akas.isna().sum()

titleId                  0
ordering                 0
title                    0
region                   0
language           1341493
types               381466
attributes         1300359
isOriginalTitle       1375
dtype: int64

In [21]:
akas["language"].fillna("unknwn", inplace = True)

In [22]:
akas["types"].fillna("unknwn", inplace = True)

In [23]:
akas["attributes"].fillna("unknwn", inplace = True)

In [24]:
akas["isOriginalTitle"].fillna("unknwn", inplace = True)

In [25]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258095 entries, 0 to 1258094
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1258095 non-null  object
 1   averageRating  1258095 non-null  float64
 2   numVotes       1258095 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB

In [26]:
basics = basics.drop(columns = ["endYear"])

In [49]:
import json
with open('/Users/Lindsey/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [50]:
import os, time, json
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json',
 'title_basics.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [51]:
years_to_get = [2000, 2001]

In [56]:
def read_and_fix_json(JSON_FILE):
   
    try: 
        previous_df =  pd.read_json(JSON_FILE)
    
    except:
        
        with open(JSON_FILE,'r+') as f:
            bad_json = f.read()
            
            first_char = bad_json[0]
            final_brackets = {'[':']', 
                           "{":"}"}
            final_char = final_brackets[first_char]
            
            if bad_json[-1] != final_char:
                good_json = bad_json[:-1]
                good_json+=final_char
            else:
                raise Exception('ERROR is not due to mismatched final bracket.')
            
            f.seek(0)
            f.write(good_json)
           
        previous_df =  pd.read_json(JSON_FILE)
        
    return previous_df

In [57]:
def get_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] =='US':
            movie_info['certification'] = c['certification']
            return movie_info

In [58]:
def write_json(new_data, filename):
    with open(filename,'r+') as file:
        file_data = json.load(file)
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)

In [59]:
# Start of OUTER loop
for YEAR in tqdm_notebook(years_to_get, desc='YEARS', position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    df = basics.loc[basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()
    previous_df = pd.read_json(JSON_FILE)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]        

    for movie_id in tqdm_notebook(movie_ids_to_get, desc=f'Movies from {YEAR}', position=1, leave=True):
        try:
            temp = get_rating(movie_id)
            write_json(temp, JSON_FILE)
            time.sleep(0.02)
            
        except Exception as e:
            continue
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

AttributeError: 'NoneType' object has no attribute 'keys'