# Import & Upload

In [1]:
import pandas as pd 
import numpy as np

In [2]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
basic_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basic_url, sep = "\t", low_memory = False)
akas = pd.read_csv(akas_url, sep = "\t", low_memory = False)
ratings = pd.read_csv(ratings_url, sep = "\t", low_memory = False)

# Data Cleaning

In [4]:
basics.replace({'\\N':np.nan}, inplace = True)
akas.replace({'\\N':np.nan}, inplace = True)
ratings.replace({'\\N':np.nan}, inplace = True)

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9187629 entries, 0 to 9187628
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 630.9+ MB

In [6]:
basics.dropna(subset = ["runtimeMinutes", "genres"], inplace = True)
basics["titleType"].value_counts()

tvEpisode       1064068
short            574453
movie            367090
video            175101
tvMovie           88312
tvSeries          86579
tvSpecial         16466
tvMiniSeries      16079
tvShort            9380
videoGame           298
Name: titleType, dtype: int64

In [7]:
basics = basics[basics.titleType == "movie"]

In [8]:
basics["titleType"].value_counts()

movie    367090
Name: titleType, dtype: int64

In [9]:
basics = basics[(basics.startYear >= "2000") & (basics.startYear <= "2022")]

basics["startYear"].value_counts()

2017    14192
2018    14138
2016    13823
2019    13809
2015    13328
2014    12982
2013    12275
2021    11732
2012    11543
2020    11259
2011    10683
2010    10122
2009     9270
2008     8070
2022     7768
2007     6883
2006     6431
2005     5760
2004     5132
2003     4528
2002     4088
2001     3813
2000     3593
Name: startYear, dtype: int64

In [10]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [11]:
akas.info()
akas = akas[akas.region == "US"]
akas["region"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33028351 entries, 0 to 33028350
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

US    1345024
Name: region, dtype: int64

In [12]:
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34790       True
61090       True
67636       True
77930      False
86767       True
           ...
9187301     True
9187310     True
9187349    False
9187394     True
9187478    False
Name: tconst, Length: 142483, dtype: bool

In [13]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61090,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67636,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86767,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92732,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9186765,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9187161,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9187301,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9187310,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9187394,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [14]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [15]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [16]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

In [33]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [34]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82333 entries, 0 to 82332
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82333 non-null  object
 1   titleType       82333 non-null  object
 2   primaryTitle    82333 non-null  object
 3   originalTitle   82333 non-null  object
 4   isAdult         82333 non-null  int64
 5   startYear       82333 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82333 non-null  int64
 8   genres          82333 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.7+ MB

In [35]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345024 entries, 5 to 33028095
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1345024 non-null  object
 1   ordering         1345024 non-null  int64
 2   title            1345024 non-null  object
 3   region           1345024 non-null  object
 4   language         3692 non-null     object
 5   types            963717 non-null   object
 6   attributes       44815 non-null    object
 7   isOriginalTitle  1343649 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.4+ MB

In [47]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257800 entries, 0 to 1257799
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1257800 non-null  object
 1   averageRating  1257800 non-null  float64
 2   numVotes       1257800 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB

In [64]:
import json
with open('/Users/Lindsey/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [65]:
import os, time, json
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [71]:
def read_and_fix_json(JSON_FILE):
    """Attempts to read in json file of records and fixes the final character
    to end with a ] if it errors.
    
    Args:
        JSON_FILE (str): filepath of JSON file
        
    Returns:
        DataFrame: the corrected data from the bad json file
    """
    try: 
        previous_df =  pd.read_json(JSON_FILE)
    
    ## If read_json throws an error
    except:
        
        ## manually open the json file
        with open(JSON_FILE,'r+') as f:
            ## Read in the file as a STRING
            bad_json = f.read()
            
            ## if the final character doesn't match first, select the right bracket
            first_char = bad_json[0]
            final_brackets = {'[':']', 
                           "{":"}"}
            ## Select expected final brakcet
            final_char = final_brackets[first_char]
            
            ## if the last character in file doen't match the first char, add it
            if bad_json[-1] != final_char:
                good_json = bad_json[:-1]
                good_json+=final_char
            else:
                raise Exception('ERROR is not due to mismatched final bracket.')
            
            ## Rewind to start of file and write new good_json to disk
            f.seek(0)
            f.write(good_json)
           
        ## Load the json file again now that its fixed
        previous_df =  pd.read_json(JSON_FILE)
        
    return previous_df

In [72]:
years_to_get = [2000, 2001]

In [73]:
# Start of OUTER loop
for YEAR in tqdm_notebook(years_to_get, desc='YEARS', position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()
    previous_df = read_and_fix_json(JSON_FILE)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]


# Start of INNER loop
def get_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            movie_info['certification'] = c['certification']
            return movie_info
        
def write_json(new_data, filename):
    with open(filename,'r+') as file:
        file_data = json.load(file)
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)
        
    for movie_id in tqdm_notebook(movie_ids_to_get, desc=f'Movies from {YEAR}', position=1, leave=True):
        try:
            temp = get_rating(movie_id)
            write_json(temp, JSON_FILE)
            time.sleep(0.02)
            
        except Exception as e:
            continue

final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [ ]:
get_rating('tt0848228')

In [70]:
previous_df.head()

   imdb_id
0        0